{% extends "base.html" %}

{% block content %}
  {{ super() }}

  <!-- Feedback Modal -->
  <div id="feedback-modal" class="feedback-modal" aria-hidden="true">
    <div class="feedback-modal__overlay" tabindex="-1" data-close-modal></div>
    <div class="feedback-modal__container" role="dialog" aria-modal="true" aria-labelledby="feedback-modal-title">
      <div class="feedback-modal__header">
        <h2 id="feedback-modal-title" class="feedback-modal__title">Improve this Wiki</h2>
        <button class="feedback-modal__close" aria-label="Close" data-close-modal>
          <svg viewBox="0 0 24 24" width="24" height="24">
            <path fill="currentColor" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
          </svg>
        </button>
      </div>
      <div class="feedback-modal__body">
        <p class="feedback-modal__description">
          Spotted an error? Have a topic suggestion? Any feedback is welcome.
        </p>
        <iframe
          id="feedback-form-iframe"
          src="https://docs.google.com/forms/d/e/1FAIpQLSefqK85bMV_5AVWXC3JKMwsmYt8VDWm8t0LMVo3tjtQb498bg/viewform?embedded=true"
          class="feedback-modal__iframe"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          title="Feedback form"
        >Loading...</iframe>
      </div>
    </div>
  </div>
{% endblock %}
